body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../../public/assets/background.webp);
}

.App {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  display: grid;
}

.Header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.Gallery,
.Bio,
.Exhibitions,
.Contact {
  position: relative;
  top: 15vh;
  justify-self: center;
  width: 75%;
}

.signature-area {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5vh;
  min-height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 600;
  background-color: #dbdee3;
  opacity: 0.95;
  color: #555454;
}

.signature-area a {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 1650px) {
  .signature-area {
    max-height: 30px;
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 750ms ease-in;
  -webkit-transition: opacity 750ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}
