.App {
  font-family: "Montserrat", sans-serif;
  display: grid;
}

.Header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.Gallery {
  position: relative;
  top: 15vh;
  justify-self: center;
  width: 75%;
}
