.serie-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 3.5px;
  margin-bottom: 2.75rem;
}

h2 {
  margin-bottom: 0.1rem;
  text-align: center;
}

.serie-header .underline {
  width: 75%;
  height: 0.5px;
  opacity: 0.5;
  display: block;
  border: 0px inset;
  overflow: hidden;
  background-color: #1b1b1b;
}

.serie-content {
  width: 100%;
  display: grid;
  justify-content: center;
  margin-bottom: 5rem;
}

.paintings-img-grid {
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  padding: 0 12px;
}

.paintings-img-grid .painting-wrapper {
  cursor: pointer;
  position: relative;
  height: 250px;
  width: 250px;
  overflow: hidden;
  background-color: #1b1b1b;
}

.painting-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.description-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s ease-in-out;
}

.description {
  font-weight: 600;
  font-size: 1.25rem;
  color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  word-break: normal;
}

.painting-wrapper:hover .description-wrapper {
  background-color: #eaeaea;
  opacity: 0.75;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-out;
}

.painting-wrapper:hover .painting-image {
  transform: scale(1.25);
}

.painting-wrapper:hover {
  opacity: 0.75;
}

@media screen and (min-width: 3000px) {
  .paintings-img-grid .painting-wrapper {
    height: 750px;
    width: 750px;
  }
}

@media screen and (min-width: 2000px) {
  .paintings-img-grid .painting-wrapper {
    height: 500px;
    width: 500px;
  }

  .serie-header {
    font-size: 1.5rem;
  }

  .description {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1999px) {
  .paintings-img-grid .painting-wrapper {
    height: 325px;
    width: 325px;
  }
}

@media screen and (max-width: 1400px) {
  .paintings-img-grid {
    grid-template-columns: 1fr 1fr;
  }

  .paintings-img-grid .painting-wrapper {
    height: 275px;
    width: 275px;
  }
}

@media screen and (max-width: 700px) {
  .serie-header h2 {
    max-width: 75%;
  }

  .paintings-img-grid {
    grid-template-columns: max-content;
    grid-column-gap: 2rem;
  }

  .underline {
    width: 100%;
    max-width: 20rem;
  }
}

.model {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #818181;
  transition: opacity 0.5s ease, visibility 0.5s ease,
    transform 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 10000;
}

.model.open {
  visibility: visible;
  opacity: 0.99;
  transform: scale(1);
}

.model img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 80%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px;
  margin: 0 auto;
}

.model .model-description {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
}

.model .close-icon {
  width: 56px;
  height: 56px;
  cursor: pointer;
}
